<home-template>
  <banner
    [buttonText]="'Continue ' + this.currentMedia()?.type"
    *ngIf="this.currentMedia()"
    [media]="this.currentMedia()"
  ></banner>

  <media-card-list
    (onShowAllClicked)="this.showAllRecWatched()"
    class="list"
    *ngIf="this.watchHistory() != null && this.watchHistory()?.length != 0"
    [mediaList]="this.watchHistory()"
    mediaListTitle="Recently Watched"
  ></media-card-list>

  <media-card-list
    (onShowAllClicked)="this.showAllHighestRated()"
    class="list"
    *ngIf="this.highestRatedList()"
    [mediaList]="this.highestRatedList()"
    mediaListTitle="Highest Rated"
  ></media-card-list>

  <media-card-list
    (onShowAllClicked)="this.showAllMoviesSeries()"
    class="list"
    *ngIf="this.mediaList()"
    [mediaList]="this.mediaList()"
    mediaListTitle="Movies / Series"
  ></media-card-list>
</home-template>
