<home-template>
  <banner
    [buttonText]="'Continue ' + this.currentMedia()?.getMediaType()"
    *ngIf="this.currentMedia()"
    [media]="this.currentMedia()"
  ></banner>

  <!-- TODO: Only 10 of each type will be diplayed on the far right there should be a button when clicked it opens a site with all cards -->
  <media-card-list
    class="list"
    *ngIf="this.watchHistory() != null && this.watchHistory()?.length != 0"
    [mediaList]="this.watchHistory()"
    mediaListTitle="Recently Watched"
  ></media-card-list>

  <media-card-list
    class="list"
    *ngIf="this.highestRatedList()"
    [mediaList]="this.highestRatedList()"
    mediaListTitle="Highest Rated"
  ></media-card-list>

  <media-card-list
    class="list"
    *ngIf="this.mediaList()"
    [mediaList]="this.mediaList()"
    mediaListTitle="Movies / Series"
  ></media-card-list>
</home-template>
