@import "@styles";

:host {
  width: 100%;
  height: 60%;
  background-color: $color-secondary;

  display: block;
  position: relative;

  padding: $gap--xxlarge;

  box-shadow: inset 0 0 200px $downlight;
}

:host(.hide-button) {
  .banner {
    &__button {
      visibility: hidden;
    }
  }
}

img {
  width: 100%;
  height: 100%;
}

.banner {
  &__content {
    padding-top: $gap--xxlarge;
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: $gap--large;
  }

  &__title {
    font-size: $text-size--big;
  }

  &__rating {
    position: absolute;
    right: $gap--large;
    bottom: $gap--large;
  }

  &__description {
    width: 500px;
  }

  &__complete {
    position: absolute;

    bottom: $gap--large;
    left: $gap--large;
  }

  &__group {
    margin-top: auto;

    display: flex;
    flex-direction: column;
    gap: $gap--large;
  }
}
