<div>
  <img class="thumbnail" *ngIf="src() !== null" [src]="src()" />
</div>

<div class="banner__content">
  <div *ngIf="this.media && this.seriesInfo">
    <p class="banner__episode-title">{{this.seriesInfo.title}}</p>
    <p>
      Season {{this.getMediaAsEpisode()?.season}} Episode
      {{this.getMediaAsEpisode()?.episode}}
    </p>
  </div>

  <p class="banner__series-title">{{this.media?.title}}</p>
  <p class="banner__description">{{this.media?.description}}</p>

  <div class="banner__group">
    <base-button (onClick)="this.playMedia()" class="banner__button">
      <p class="button__text">{{this.buttonText}}</p></base-button
    >

    <genre-list [genres]="this.media?.genreList"></genre-list>
  </div>
</div>

<div *ngIf="!this.media?.isComplete" class="circle banner__complete"></div>

<div *ngIf="this.media?.rating != null" class="banner__rating">
  <p class="prevent-select">{{this.media?.rating}}</p>
</div>
