<div class="banner__content">
  <p class="banner__title">Name of the Movie</p>
  <p class="banner__description">
    A thrilling journey through unexpected twists and turns, keeping you on the
    edge of your seat. A thrilling journey through unexpected twists and turns,
    keeping you on the edge of your seat. A thrilling journey through unexpected
    twists and turns, keeping you on the edge of your seat. A thrilling journey
    through unexpected twists and turns, keeping you on the edge of your seat.
  </p>
  <base-button class="banner__button"> <p>Play</p></base-button>
  <div class="banner__genre">
    <p>horror</p>
    <p>adventure</p>
    <p>comedy</p>
    <p>look</p>
  </div>
  <div class="banner__rating">
    <p>100</p>
  </div>
</div>
