@import "@styles";

:host {
  background-color: $downlight--transparent;
  backdrop-filter: $blur--mid;

  width: 100%;
  height: $gap--xxlarge;

  box-sizing: border-box;
  padding: $gap--xsmall;

  position: absolute;
  top: 0px;

  display: flex;
  flex-direction: row;
  gap: $gap--xlarge;

  z-index: 9999;
}

base-button.header__button:first-of-type {
  margin-left: 120px;

  height: 100%;
}

base-button.header__button:last-of-type {
  margin-right: auto;

  height: 100%;
}

.header__icon {
  margin-left: auto;
}

.button__text {
  text-align: center;
}

p {
  font-size: $text-size--big;
}

.search__input {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  font-size: $text-size--mid;
}
