@import "@styles";

:host {
  background-color: $downlight--transparent;
  backdrop-filter: $blur--mid;

  width: 100%;
  height: $gap--xxlarge;

  box-sizing: border-box;
  padding: $gap--xsmall;

  position: absolute;
  top: 0px;

  display: flex;
  flex-direction: row;

  z-index: 9999;
}

.button-group {
  display: flex;
  flex-direction: row;
  height: 100%;

  &__router {
    margin-left: 120px;
    gap: $gap--xlarge;
  }

  &__operater {
    margin-left: auto;
  }
}

.header__icon {
  margin-left: auto;
}

.button__text {
  text-align: center;
}

p {
  font-size: $text-size--big;
}
