@import "@styles";

:host {
  width: 100%;

  box-sizing: border-box;
  padding: $gap--xxsmall;

  position: fixed;
  bottom: 0px;

  display: flex;
  flex-direction: row;

  z-index: 9999;

  height: $gap--xxlarge;

  background-color: $color-primary;

  @include respond(md) {
    height: $gap--xxlarge;
    top: 0px;

    background-color: $downlight--transparent;
    backdrop-filter: $blur--mid;
  }
}

.button-group {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;

  gap: 0px;
  justify-content: center;

  @include respond(md) {
    justify-content: start;
  }

  @include respond(sm) {
    gap: $gap--small;
  }

  &__router {
    @include respond(md) {
      margin-left: 120px;
      gap: $gap--xlarge;
    }
  }

  &__operater {
    @include respond(sm) {
      margin-left: auto;
    }
  }
}

.header__icon {
  margin-left: auto;
}

.button__text {
  text-align: center;
}

p {
  font-size: $text-size--big;
}

input {
  display: none;
  visibility: none;

  @include respond(md) {
    width: 150px;
    display: block;
  }
}

.search {
  display: flex;
}

.margin-left {
  margin-left: auto;
}
