@import "@styles";
@mixin margin-vertical() {
  margin-top: $gap--small;
  margin-bottom: $gap--large;
}

.container {
  display: flex;
  flex-direction: column;

  gap: $gap--xxlarge;

  align-items: center;
}

.input-group {
  width: 70%;
}

.button-group {
  height: 50px;

  width: auto;

  display: flex;
  flex-direction: row;

  gap: $gap--large;
}

input {
  @extend .input--outlined;
  @include margin-vertical();

  width: auto;
}

textarea {
  @extend .textarea;
  @include margin-vertical();
}

.genre-group {
  display: flex;
  gap: $gap--small;

  @include margin-vertical();
}

.rating {
  width: 3.1rem;
}

.title {
  width: 100%;
}
