@import "@styles";

@mixin margin-vertical() {
  margin-top: $gap--small;
  margin-bottom: $gap--large;
}

.container {
  display: flex;
  flex-direction: column;

  gap: $gap--xxlarge;

  align-items: center;

  margin-top: $gap--xxlarge;

  @include respond(md) {
    margin-top: $gap--small;
  }
}

.input-group {
  width: 90%;

  @include respond(md) {
    width: 70%;
  }
}

.button-group {
  height: 50px;

  width: auto;

  display: flex;
  flex-direction: row;

  gap: $gap--large;
}

input {
  @extend .input--outlined;
  @include margin-vertical();

  width: auto;
}

textarea {
  @extend .textarea;
  @include margin-vertical();
}

.genre-group {
  gap: $gap--small;
  display: grid;
  width: 100%;

  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

  @include respond(md) {
    display: flex;
  }

  @include margin-vertical();
}

.rating {
  width: 3.1rem;
}

.title {
  width: 100%;
}
