<home-template class="container">
  <div class="input-group">
    <p>Title</p>
    <input
      [(ngModel)]="title"
      type="text"
      placeholder="Title"
      maxlength="150"
      class="title"
    />

    <p>Desciption</p>
    <textarea
      [(ngModel)]="description"
      type="text"
      placeholder="Desciption"
      maxlength="1000"
      rows="8"
      cols="100"
    ></textarea>

    <ng-container *ngIf="!checkMediaType('Episode')">
      <p>Genres</p>
      <div class="genre-group">
        @for (item of this.getAllGenres(); track $index) {
        <genre
          (onClick)="this.addGenreToList($event)"
          class="hover-effect"
          [genre]="item"
          [ngClass]="{active: this.isGenreActive(item)}"
        ></genre>
        }
      </div>
    </ng-container>

    <ng-container *ngIf="checkMediaType('Series')">
      <p>Complete</p>
      <input [(ngModel)]="complete" type="checkbox" placeholder="Complete" />
    </ng-container>

    <p>Rating</p>
    <input
      class="rating"
      [(ngModel)]="rating"
      type="string"
      min="0"
      max="100"
      maxlength="3"
      (keyup)="this.getRating()"
    />
  </div>

  <div class="button-group">
    <base-button
      title="Save Changes"
      class="header__button"
      (onClick)="this.onSavePressed()"
    >
      <icon iconName="save"></icon>
    </base-button>

    <base-button
      title="Cancel"
      class="header__button"
      (onClick)="this.onCancelPressed()"
    >
      <icon iconName="cancel"></icon>
    </base-button>
  </div>
</home-template>
