@import "@styles";

$scale-factor: 50;
$base-width: 3px;
$base-height: 5px;

:host {
  width: $base-width * $scale-factor;
  height: auto;

  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 8px;
  width: $base-width * $scale-factor;
  height: $base-height * $scale-factor;

  background-color: $color-secondary;

  padding: $gap--mid;

  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    background-image: url("/images/testImage.jpg");
    background-size: cover;
    background-position: center;

    position: absolute;
    inset: 0;
    z-index: 1;

    filter: brightness(70%);
  }

  &__episode {
    width: $gap--xlarge;
    height: $gap--xlarge;

    text-align: center;

    border-radius: $radius--small;

    background-color: $downlight--transparent;

    display: flex;

    &__text {
      margin: auto;
      display: block;
    }
  }

  &__title {
    overflow-y: hidden;
    text-overflow: ellipsis;

    backdrop-filter: $blur--small;
    background-color: $downlight--transparent;

    padding: $gap--small;

    border-radius: $radius--small;

    visibility: hidden;

    margin-top: $gap--mid;

    text-wrap: wrap;

    &__text {
      text-align: center;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;

      line-clamp: 8;

      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:hover {
    background-color: rgb(
      22,
      22,
      22
    ); // TODO use another div that is an overlay to change background-color

    .card__title,
    .card__episode {
      visibility: visible;
    }

    &.card::before {
      transition: all 0.2s;
      filter: brightness(110%) contrast(110%);

      // box-shadow: inset 0px 50px 100px black;
    }
  }
}

.show-info {
  .card__title,
  .card__episode {
    visibility: visible;
  }
}

.content {
  z-index: 100;
  position: relative;
}
