@import "@styles";

:host {
  height: auto;
}

:host(.list) {
  .media-list {
    display: flex;
    flex-direction: row;
    gap: $gap--small;

    width: 100%;

    padding: $gap--small $gap--large $gap--large $gap--large;

    overflow-x: auto;
    overflow-y: hidden;
  }
}

:host(.grid) {
  .media-list {
    display: grid;
    width: 100%;

    box-sizing: border-box;

    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;

    gap: $gap--xsmall;
    row-gap: $gap--xlarge;

    padding: $gap--small $gap--large $gap--large $gap--large;
  }
}

.media-list {
  &__title {
    font-size: $text-size--big;
    padding-top: $gap--xlarge;
    padding-left: $gap--large;
    padding-bottom: $gap--small;
  }

  &__item {
    margin: 0px auto 0px auto;
  }
}
