@import "@styles";

:host {
  display: grid;

  width: 100%;
  height: auto;

  box-sizing: border-box;

  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: auto;

  justify-items: center;

  gap: $gap--xsmall;
  row-gap: $gap--xlarge;

  padding: $gap--small $gap--large $gap--large $gap--large;
}
