@import "@styles";

:host {
  display: grid;

  width: 100%;
  height: auto;

  margin: auto;

  box-sizing: border-box;

  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: auto;

  gap: 4px;
  row-gap: $padding--vbig;

  padding: $padding--small $padding--big $padding--big $padding--big;
}

.list__item {
  margin: auto;
}
