@import "@styles";

:host {
  margin-bottom: $gap--xlarge;
  padding: 80px;

  width: 100%;
  height: auto;
  display: block;
}

:host(.full-width) {
  .info {
    width: 100%;
  }
}

.videoPlayer {
  aspect-ratio: 16 / 9;
  width: 70%;
  background-color: black;

  text-align: center;
  margin-left: auto;
  margin-right: auto;

  display: flex;

  justify-self: center;

  margin-top: $gap--xlarge;
  margin-bottom: $gap--large;
}

.info {
  width: 70%;
  margin: auto;
}
