@import "@styles";

:host {
  margin-bottom: $gap--xlarge;

  width: 100%;
  height: auto;
  display: block;

  margin-top: $gap--large;
  margin-bottom: $gap--xlarge;

  @include respond(md) {
    margin-top: 0px;
  }
}

:host(.full-width) {
  .info {
    width: 100%;
  }
}

.videoPlayer {
  aspect-ratio: 16 / 9;
  width: 90%;
  background-color: black;

  text-align: center;
  margin-left: auto;
  margin-right: auto;

  display: flex;

  justify-self: center;

  margin-top: $gap--xlarge;
  margin-bottom: $gap--large;

  @include respond(md) {
    width: 80%;
  }
}

.info {
  width: 100%;
  margin: auto;

  @include respond(md) {
    width: 80%;
  }
}
