@import "@styles";

.movie {
  &__title {
    text-align: center;

    p {
      font-size: $text-size--big;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
    }
  }

  &__description {
    width: 50%;
    height: auto;

    margin: 32px auto 64px auto;
  }
}

.rating {
  margin-left: auto;
  padding-left: 8px;
}
