<home-template>
  <media-template
    [mediaID]="this.currentMovie()?.id"
    [videoSource]="getVideoSource()"
  >
    <div class="movie__title" header>
      <p>{{this.currentMovie()?.title}}</p>
    </div>
    <div class="movie__info" info>
      <div>
        <genre-list [genres]="this.currentMovie()?.genreList"></genre-list>
        <p class="prevent-select rating">{{this.currentMovie()?.rating}}</p>
      </div>
      <div class="movie__description">
        <p>{{this.currentMovie()?.description}}</p>
      </div>
    </div>
  </media-template>
</home-template>
