@import "@styles";

.movie {
  &__title {
    text-align: center;

    p {
      font-size: $text-size--big;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
    }
  }

  &__description {
    width: 50%;
    height: auto;

    margin: $gap--xlarge auto $gap--xxlarge auto;
  }
}

.rating {
  margin-left: auto;
  padding-left: $gap--small;
}
