<home-template
  *ngIf="this.currentMovie() !== null"
  [mediaID]="this.currentMovie()!.id"
  [showEditButton]="true"
>
  <media-template
    *ngIf="this.currentMovie() != null"
    [media]="this.currentMovie()"
    [videoSource]="getVideoSource()"
  >
    <div class="movie__title" header>
      <p>{{this.currentMovie()?.title}}</p>
    </div>
    <div class="movie__info" info>
      <div>
        <genre-list [genres]="this.currentMovie()?.genreList"></genre-list>
        <p class="prevent-select rating">{{this.currentMovie()?.rating}}</p>
      </div>
      <div class="movie__description">
        <p>{{this.currentMovie()?.description}}</p>
      </div>

      <div class="movie__others" *ngIf="displaySimilarMovies()">
        <p class="media-list__title">Similar Movies</p>

        <div class="media-list">
          @for (media of this.similarMovies(); track $index) {
          <media-card
            [isSelected]="media.id === this.currentMovie()?.id"
            [title]="media.title"
            [media]="media"
          ></media-card>
          }
        </div>
      </div>
    </div>
  </media-template>
</home-template>
