<home-template
  *ngIf="this.currentMovie() !== null"
  [mediaID]="this.currentMovie()!.id"
  [showEditButton]="true"
>
  <media-template
    *ngIf="this.currentMovie() != null"
    [media]="this.currentMovie()"
    [videoSource]="getVideoSource()"
  >
    <div class="movie__title" header>
      <p>{{this.currentMovie()?.title}}</p>
    </div>
    <div class="movie__info" info>
      <div>
        <genre-list [genres]="this.currentMovie()?.genreList"></genre-list>
        <p class="prevent-select rating">{{this.currentMovie()?.rating}}</p>
      </div>
      <div class="movie__description">
        <p>{{this.currentMovie()?.description}}</p>
      </div>
    </div>

    <div class="movie__others">
      <media-card-list
        mediaListTitle="Similar Movies"
        [mediaList]="this.similarMovies()"
      >
      </media-card-list>
    </div>
  </media-template>
</home-template>
