@import "@styles";

.container {
  width: 100%;
  height: 100%;

  margin-top: $gap--large;

  padding: $gap--xxlarge $gap--large $gap--xxlarge $gap--large;

  display: flex;
  flex-direction: column;
}

.search {
  width: 100%;

  &__config {
    display: flex;
    height: 56px;
  }

  &__result {
    height: 300px;
    width: 100%;
  }

  &__input {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: $text-size--mid;

    width: 100%;
  }
}

.genre-group {
  display: grid;
  gap: $gap--small;
  width: 100%;

  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  @include respond(md) {
    display: flex;
  }

  margin-top: $gap--small;
  margin-bottom: $gap--large;

  overflow: scroll;
}
