$radius--large: 32px;
$radius--mid: 16px;
$radius--small: 8px;

$gap--xxlarge: 64px;
$gap--xlarge: 32px;
$gap--large: 16px;
$gap--mid: 12px;
$gap--small: 8px;
$gap--xsmall: 4px;

$text-size--big: 24px;
$text-size--mid: 16px;
$text-size--small: 12px;

$text-color--light: rgb(239, 239, 239);
$text-color--dark: rgb(24, 24, 24);

$downlight: rgb(0, 0, 0);
$downlight--transparent: rgba(0, 0, 0, 0.333);

$highlight: rgb(239, 239, 239);
$highlight--transparent: rgba(239, 239, 239, 0.333);

$color-primary: rgb(70, 15, 157);
$color-secondary: rgb(57, 108, 48);
$color-accent: rgb(5, 174, 213);

$color-primary--transparent: rgba(70, 15, 157, 0.333);
$color-secondary--transparent: rgba(57, 108, 48, 0.333);
$color-accent--transparent: rgba(5, 175, 213, 0.333);

$color-primary--hover: rgba(60, 5, 147);
$color-secondary--hover: rgb(47, 98, 38);
$color-accent--hover: rgba(0, 155, 193);

p {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $color-primary;
  color: #efefef;

  width: 100vw;
  height: 100vh;

  overflow-x: hidden;

  margin: 0;
  padding: 0;

  &::-webkit-scrollbar-track {
    border-radius: $radius--mid;
  }
}

* {
  box-sizing: border-box;

  font-size: $text-size--mid;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  scrollbar-width: none;
  color: $text-color--light;
}

.circle {
  background-color: $color-accent;

  border: 1px solid $color-secondary--transparent;
  border-radius: 50%;

  width: 10px;
  height: 10px;
}

.mouse-pointer {
  cursor: pointer;
}

.mouse-default {
  cursor: default;
}
