@import "@styles";

:host {
  border-radius: $radius--large;

  border: 1px solid rgba(0, 0, 0, 0.25);

  width: auto;
  height: auto;

  background-color: $highlight--transparent;

  white-space: nowrap;
}

:host(.hover-effect) {
  &:hover {
    @extend .mouse-pointer;
    background-color: $color-accent--hover;

    p {
      color: $text-color--dark;
    }
  }
}

:host(.active) {
  background-color: $color-accent;

  p {
    color: $text-color--dark;
  }
}

.genre__text {
  font-size: $text-size--small;
  word-break: keep-all;
  font-weight: bold;

  padding: $gap--xsmall $gap--small $gap--xsmall $gap--small;
}
