@import "@styles";

:host {
  border-radius: $radius--large;
  padding: $gap--xsmall $gap--small $gap--xsmall $gap--small;

  border: 1px solid $color-accent--transparent;

  width: auto;
  height: auto;

  background-color: $color-accent;
}

p {
  font-size: $text-size--small;
  word-break: keep-all;
}
