@import "@styles";

:host {
  border-radius: $radius--large;
  padding: $gap--xsmall $gap--small $gap--xsmall $gap--small;

  border: 1px solid rgba(0, 0, 0, 0.25);

  width: auto;
  height: auto;

  background-color: $highlight--transparent;
}

p {
  font-size: $text-size--small;
  word-break: keep-all;
  font-weight: bold;
}
