@import "@styles";

:host(.header__button) {
  button {
    background-color: rgba(0, 0, 0, 0);
    border: none;

    color: white;
    font-size: 20px;
    cursor: pointer;

    padding-left: 16px;
    padding-right: 16px;

    height: 100%;
    width: auto;

    &:hover {
      background-color: black;
    }
  }
}

:host(.header__icon) {
  button {
    background-color: rgba(0, 0, 0, 0);
    border: none;

    color: white;
    font-size: 20px;
    cursor: pointer;

    height: 100%;
    width: 50px;
    &:hover {
      background-color: black;
    }
  }
}

:host(.dropdown__button) {
  button {
    background-color: rgb(0, 0, 0);

    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;

    height: 100%;
    width: 300px;

    padding: $padding--small $padding--big $padding--small $padding--big;

    &:hover {
      background-color: rgb(32, 32, 32);
    }
  }
}

:host(.banner__button) {
  button {
    cursor: pointer;
    background-color: black;
    width: auto;
    height: auto;

    border: none;

    padding: $padding--mid;

    &:hover {
      background-color: rgb(36, 36, 36);
    }
  }
}

button {
  border-radius: $radius--small;
}
