@import "@styles";

:host(.header__button) {
  button {
    background-color: rgba(0, 0, 0, 0);
    border: none;

    color: white;
    font-size: 20px;
    cursor: pointer;

    padding-left: 16px;
    padding-right: 16px;

    height: 100%;
    width: auto;

    &:hover {
      transition: all $transition--fast;
      background-color: $highlight--transparent;
    }
  }
}

:host(.header__icon) {
  button {
    background-color: rgba(0, 0, 0, 0);
    border: none;

    color: white;
    font-size: 20px;
    cursor: pointer;

    height: 100%;
    width: 50px;

    &:hover {
      transition: all $transition--fast;
      background-color: $highlight--transparent;
    }
  }
}

:host(.dropdown__button) {
  button {
    background-color: $downlight--transparent;

    border: none;
    color: $text-color--light;

    cursor: pointer;

    height: 100%;
    width: 300px;

    padding: $gap--small $gap--large $gap--small $gap--large;

    &:hover {
      transition: background-color $transition--fast;
      background-color: $highlight--transparent;
    }
  }
}

:host(.dropdown__list__button) {
  button {
    background-color: rgba(0, 0, 0, 0);

    border: none;
    color: $text-color--light;

    cursor: pointer;

    height: 100%;
    width: 300px;

    padding: $gap--small $gap--large $gap--small $gap--large;

    &:hover {
      transition: background-color $transition--fast;
      background-color: $highlight--transparent;
    }
  }
}

:host(.banner__button) {
  button {
    cursor: pointer;
    background-color: $color-accent;

    width: auto;
    height: auto;

    border: none;

    padding: $gap--mid;

    &:hover {
      background-color: $color-accent--hover;
    }
  }
}

button {
  border-radius: $radius--small;
}
