@import "@styles";

.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__series {
    font-size: $text-size--xbig;
  }

  &__season {
    margin-top: $gap--small;
  }

  &__episode {
    margin-top: $gap--xsmall;
  }

  &__episode-title {
    font-size: $text-size--big;
    margin-top: $gap--xlarge;
  }
}

.season-selection {
  margin: $gap--xlarge auto $gap--xlarge auto;
  display: flex;
  flex-direction: column;

  position: relative;

  &__button {
    margin: auto;
  }
}

.dropdown__content {
  display: flex;
  flex-direction: column;

  background-color: $downlight--transparent;
  backdrop-filter: $blur--large;

  position: absolute;
  z-index: 999;

  margin-top: $gap--xsmall;

  border-radius: $radius--small;
}

.episode-next-prev {
  display: flex;
  gap: $gap--small;

  justify-content: center;
}

.status {
  display: flex;
  justify-content: center;

  margin-top: $gap--xlarge;
}
