<home-template>
  <media-template class="full-width">
    <div class="title" header>
      <p class="title__series">{{this.media?.title}}</p>
      <p class="title__season">Season {{this.currentSeason()}}</p>
      <p class="title__episode">Episode {{this.currentEpisode()?.episode}}</p>
      <p class="title__episode-title">{{this.currentEpisode()?.title}}</p>
    </div>
    <div info>
      <div class="episode-next-prev">
        <base-button
          (onClick)="navigateToAdjacentEpisode(-1)"
          class="dropdown__button"
        >
          <p>Previous Episode</p>
        </base-button>
        <base-button
          (onClick)="navigateToAdjacentEpisode(1)"
          class="dropdown__button"
        >
          <p>Next Episode</p>
        </base-button>
      </div>

      <div class="status"><p>Status: {{getStatus()}}</p></div>

      <div class="season-selection">
        <div
          (onClickOutside)="this.hideDropdownContent()"
          class="season-selection__button"
        >
          <base-button
            (onClick)="this.switchDropdownContent()"
            class="dropdown__button"
          >
            <div style="display: flex">
              <p>Season</p>
              <p style="margin-left: auto">{{this.currentSeason()}}</p>
            </div>
          </base-button>

          <div
            style="visibility: hidden"
            #dropdownContent
            class="dropdown__content"
          >
            @for (season of this.currentSeries()?.getSeasons(); track $index) {
            <base-button
              (onClick)="this.setSeason(season)"
              class="dropdown__list__button season-selection__button"
            >
              <div style="display: flex">
                <p>Season</p>
                <p style="margin-left: auto">{{season}}</p>
              </div>
            </base-button>
            }
          </div>
        </div>
      </div>

      <div class="episode-selection">
        <episode-list
          (onClickCard)="setCurrentEpisode($event)"
          [episodeList]="this.getEpisodeList()"
        ></episode-list>
      </div>
    </div>
  </media-template>
</home-template>
