<div class="card__thumbnail">
  <div class="card__thumbnail__container">
    <div class="card__rating">
      <p [innerText]="this.media?.rating"></p>
    </div>
  </div>

  <div class="card__media-type">
    <p [innerText]="this.media?.getMediaType()"></p>
  </div>
  <div *ngIf="!this.media?.isComplete" class="card__complete circle"></div>
  <div class="card__progress"></div>
  <div class="card__progress card__progress__background"></div>
</div>

<div class="card__content">
  <p class="card__title" [innerText]="this.media?.title"></p>
</div>
