@import "@styles";

$scale-factor: 50;
$base-width: 3px;
$base-height: 5px;

:host {
  width: $base-width * $scale-factor;
  height: auto;

  display: flex;
  flex-direction: column;
}

.card {
  &__thumbnail {
    position: relative;

    width: $base-width * $scale-factor;
    height: $base-height * $scale-factor;
    background-color: $color-secondary;

    border-radius: $radius--small;

    padding: $gap--mid;

    overflow: hidden;

    &:hover {
      background-color: $color-secondary--hover;
    }

    &__container {
      position: relative;

      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    gap: $gap--mid;
  }

  &__title {
    font-size: $text-size--mid;
    margin-top: $gap--xsmall;

    overflow: hidden;
    white-space: nowrap;

    text-overflow: ellipsis;
    text-align: center;
  }

  &__rating {
    position: absolute;

    background-color: $downlight--transparent;
    width: $gap--xlarge;
    height: $gap--xlarge;

    display: flex;

    flex-direction: column;
    text-align: center;

    justify-content: center;

    border-radius: $radius--small;

    right: 0px;
    bottom: 0px;
  }

  &__media-type {
    background-color: $downlight--transparent;
    position: absolute;
    top: 0px;
    left: 0px;

    padding-left: $gap--mid;
    padding-right: $gap--mid;

    display: inline-block;
  }

  &__complete {
    position: absolute;

    top: $gap--small;
    right: $gap--small;
  }

  &__progress {
    background-color: $color-accent;

    position: absolute;
    bottom: 0px;
    left: 0px;

    height: $gap--xsmall;

    width: 60%; // this is where the progress can be changed

    z-index: 2;

    &__background {
      width: 100%;
      background-color: grey;
      z-index: 1;
    }
  }
}
