<div (click)="this.openPlayer()" class="card__thumbnail mouse-pointer">
  <div class="content">
    <div class="card__thumbnail__container">
      <div *ngIf="this.media?.rating != null" class="card__rating">
        <p class="prevent-select">{{this.media?.rating}}</p>
      </div>
    </div>

    <div class="card__media-type">
      <p class="prevent-select">{{this.media?.getMediaType()}}</p>
    </div>
    <div *ngIf="!this.media?.isComplete" class="card__complete circle"></div>
    <div
      *ngIf="isInProgress()"
      [ngStyle]="{width: this.progressBarWidth() + '%'}"
      class="card__progress"
    ></div>
    <div
      *ngIf="isInProgress() "
      class="card__progress card__progress__background"
    ></div>
  </div>
</div>

<div class="card__content">
  <p class="card__title">{{this.media?.title}}</p>
</div>
